@model MiCarritoFeliz.Models.ViewModels.Cars.AddCarViewModel
@{
    ViewBag.Title = "AddCars";
   // Layout = "~/Views/Shared/_CarManagementLayout.cshtml";
}

<h2>Add Cars</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header  text-black">
                    <h4>Adding a new Car</h4>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("CreateCar", "Car", FormMethod.Post, new { role = "form", @class = "" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationMessage("error", new { @class = "text-danger" })

                        <div class="mb-3">
                            @Html.LabelFor(d => d.Marca)
                            @Html.TextBoxFor(d => d.Marca, new { @class = "form-control" })

                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(d => d.Modelo)
                            @Html.TextBoxFor(d => d.Modelo, new { @class = "form-control" })

                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(d => d.Año)
                            @Html.TextBoxFor(d => d.Año, new { @class = "form-control" })

                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(d => d.ImgRuta)
                            @Html.TextBoxFor(d => d.ImgRuta, new { @class = "form-control" })

                        </div>


                        <input type="submit" value="Save" class="btn btn-success btn-lg" />
                        <input type="button" value="Go Back" class="btn btn-warning btn-lg" onclick="document.location.href = '@Url.Content("~/Cars/ShowCars")'" />

                    }
                </div>
            </div>
        </div>
    </div>
</div>